.input {
  width: 500px;
  height: 50px;
  border: 3px solid black;
  border-radius: 50px;
}
.App {
  text-align: center;
  line-height: 40px;
  width: 100%;
  height: 500px;
  line-height: 100px;
}

.click {
  display: inline-block;
  background-color: lightblue;
  border: 2px solid black;
  border-radius: 10px;
  height: 50px;
  width: 50px;
}

#result {
  background-color: aliceblue;
  height: 70px;
  width: 600px;
  border: 2px solid black;
  border-radius: 10px;
  margin: auto;
  line-height: 70px;
}
