.result {
  width: 600px;
  height: 350px;
  border: 2px solid black;
  float: center;
}

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.contentWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
  background-color: lightgreen;
}

.contentWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
